# Database
DATABASE_URL=postgres://codeatlas:codeatlas@localhost:5432/codeatlas?sslmode=disable

# Auth
JWT_SECRET=change-me-in-production
JWT_EXPIRY_HOURS=24

# Server
PORT=8080
ENV=development

# Groq
GROQ_API_KEY=your_key_here

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080
